
.margin{
    display: block;
    margin: 5% auto; 
    text-align: center;
    color: white;
}

.main{
    margin: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}
